<!DOCTYPE html>
<html>
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../assets/js/bootstrap.min.js"></script>

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="../assets/css/dashadmin.css">
  <link rel="stylesheet" href="../assets/css/all.css" type="text/css">
  <link rel="icon" href="../assets/img/logo.png">
  <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="../fontawesome/css/all.css">

</head>
<body>
    <nav class="navbar navbar-light navcolor">
      <div class="container-fluid">
        <a class="navbar-brand"><p class="fw-bold navtext ml-5">SELAMAT DATANG, ADMIN</p></a>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-light" type="submit">Search</button>
        </form>
      </div>
    </nav>

    <div class="m-5 cards">
    <center><div class="row row-cols-1 row-cols-md-2 g-4 mb-4">
      <div class="col">
        <div class="card h-100">
          <a href="#" style="text-decoration: none;">
            <div class="card-body colorcard1">
              <h5 class="card-title fw-bold" ><i class="fas fa-stream" ></i> &nbsp TIMELINE</h5>
              <p class="fw-normal">Lihat berita terkini di masyarakat,<br>Buatlah berita seputar lingkungan.</p>
            </div>
          </a>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <a href="#" style="text-decoration: none;">
            <div class="card-body colorcard">
              <h5 class="card-title fw-bold"><i class="fas fa-file-alt"></i> &nbsp PENGADUAN</h5>
              <p class="fw-normal">Segera laporkan masalah yang terjadi di lingkungan,<br>Sampaikan aspirasi peduli lingkungan disini.</p>
            </div>
          </a>
        </div>
      </div>
    </div></center>
    <center><div class="row row-cols-1 row-cols-md-2 g-4">
      <div class="col">
        <div class="card h-100">
          <a href="#" style="text-decoration: none;">
            <div class="card-body colorcard">
              <h5 class="card-title fw-bold"><i class="fas fa-user-alt"></i> &nbsp PETUGAS</h5>
              <p class="fw-normal">Lihat data petugas, perbarui data petugas,<br>Tambahkan petugas baru, Hapus yang sudah tidak bertugas.</p>
            </div>
          </a>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <a href="#" style="text-decoration: none;">
            <div class="card-body colorcard1">
              <h5 class="card-title fw-bold"><i class="fas fa-users"></i> &nbsp MASYARAKAT</h5>
              <p class="fw-normal">Lihat masyarakat pengguna, perbarui jika perlu,<br>Tambahkan masyarakat baru, Hapus yang sudah tidak di lingkungan.</p>
            </div>
          </a>
        </div>
      </div>
    </div></center>
    </div>
    </div>

  <script src="../assets/js/dashadmin.js"></script>
   
</body>
</html> 
