<!DOCTYPE html>
<html>
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../assets/js/bootstrap.min.js"></script>

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="../assets/css/layout.css">
  <link rel="stylesheet" href="../assets/css/all.css" type="text/css">
  <link rel="icon" href="../assets/img/logo.png">
  <link rel="stylesheet" href="../assets/css/bootstrap.min.css">

</head>
<body>
    <div id="mySidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      <a href="#">Timeline</a><hr>
      <a href="#">Pengaduan</a><hr>
      <a href="#">Petugas</a><hr>
      <a href="#">Masyarakat</a><hr>
      <a href="#">Logout</a><hr>
    </div>

    <nav class="navbar navbar-light navcolor">
      <div class="container-fluid">
        <div>
          <span class="openav" onclick="openNav()">&#9776;</span>
        </div>
        <div class="navbar-brand ">
          <a><p class="fw-bold navtext">ADMIN</p></a>
        </div>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-light" type="submit">Search</button>
        </form>
      </div>
    </nav>
  <script src="../assets/js/dashadmin.js"></script>
   
</body>
</html> 
